appdirs==1.4.3
editdistance==0.3.1
funcsigs==1.0.2
Keras==2.0.3
mock==2.0.0
nltk==3.2.4
numpy==1.12.1
packaging==16.8
pbr==3.0.0
protobuf==3.3.0
pydot-ng==1.0.0
pyparsing==2.2.0
PyYAML==3.12
ruamel.ordereddict==0.4.9
ruamel.yaml==0.14.12
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
sklearn==0.0
tabulate==0.7.7
tensorflow==1.1.0
Theano==0.9.0
Werkzeug==0.12.1
yolk==0.4.3
